html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-display: swap;
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: normal;
  src: url(../Assets/samsungone/SamsungOne-400.ttf);
}
@font-face {
  font-display: swap;
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: bold;
  src: url(../Assets/samsungone/SamsungOne-700.ttf);
}
@font-face {
  font-display: swap;
  font-family: "SamsungSharpSans";
  font-style: normal;
  font-weight: bold;
  src: url(../Assets/samsungone/SamsungSharpSans-Bold.ttf);
}

.Button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #000;
}
.icons {
  width: 24px;
}
body {
  /* padding: 0px 10px; */
  color: #000;
  font-family: SamsungOne;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.33;
}
.NavBar {
  top: 0;
  margin-top: 0;
  height: 80px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.Inner-Bar {
  margin: 0 auto;
  padding: 0 24px 0 16px;
  vertical-align: top;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1440px;
  gap: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.Logo {
  filter: brightness(0%);
  width: 105px;
}
.Inner-Bar > .Logo-Box {
  margin-top: 5px;
}

.Nav-Items {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.Nav-Item-List {
  padding: 7px 8px;
}
.Left-Nav-Items a:hover,
.Right-Nav-Items a:hover {
  background-color: #000;
  color: #fff;
  border-radius: 22px;
  padding: 7px 8px;
}
.Left-Nav-Items {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.Right-Nav-Items {
  display: flex;
  /* gap: 15px; */
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.Nav-Icons {
  gap: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.Hamburbur {
  cursor: pointer;
}
.User-Profile {
  cursor: pointer;
}
.Shopping-Cart {
  cursor: pointer;
}
.Search-Logo {
  cursor: pointer;
}

.Carousel-Area {
  margin: 16px auto;
  max-width: 1440px;
  height: 639px;
  background-color: cyan;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.Carousel-Swipe {
  background-color: #000;
  color: white;
  border-radius: 50%;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  opacity: 0.45;
}
.Carousel-Swipe:hover {
  opacity: 0.9;
}
.Carousel-Swipe Right Button > ll {
  fill: #fff;
}
.NavBar_Carousel {
  align-self: flex-end;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.NavBar_Carousels {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.NavBar_Carousels:active {
  outline: 1px dotted black;
}

#activate-div:checked + .my-div {
  background-color: #000;
}
.Navigate-Carousel {
  z-index: 2;
  width: 160px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.Navigate-Carousel-Item {
  z-index: 1;
  color: white;
  width: max-content;
  transform: translateY(60%);
  transition: all 200ms ease-in-out;
  opacity: 0;
  text-shadow: 0 0 3px rgb(0 0 0 / 75%);
}
.NavBar_Carousels:hover .Navigate-Carousel-Item {
  opacity: 1;
  transform: translateY(-10%);
}
.Navigate-Carousel.Play-Pause {
  margin-top: 20px;
  background-color: transparent;
  padding: 5px;
  width: max-content;
  height: min-content;
}
.fa-solid.fa-pause {
  font-size: 20px;
}

.Products-Area {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.Products-Text {
  padding-top: 30px;
  font-family: "SamsungSharpSans", arial, sans-serif;
  font-size: 38px;
  font-weight: bold;
  display: -webkit-box;
  margin: 0 auto;
}

.Products-Items-Area {
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.Products-Items-Area__inner {
  width: 100vw;
  overflow: hidden;
}
.Product-Nav-Scroll {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  width: 100vw;
  cursor: grab;
}
.Product-Nav-Scroll::-webkit-scrollbar {
  display: none;
}
.Products-Nav {
  width: max-content;
  max-width: 1440px;
  background-color: transparent;
  margin: 0 10px;
  display: flex;
  gap: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.Products-Nav a:hover {
  color: #555555;
}
.Products-Nav-Items-checkbutton {
  display: none;
}
.Products-Nav-Items-checkbutton:checked + .Products-Nav-Items {
  border-bottom: 3px solid black;
}

.Products-Nav-Items {
  scroll-snap-align: center;
  font-size: 3.88888889vw;
  line-height: 6.11111111vw;
  padding-top: 1.11111111vw;
  padding-bottom: 1.11111111vw;
  width: max-content;
  padding-top: 35px;
}
.Products-Nav-Items:focus {
  scroll-margin: 20px;
  scroll-padding: 20px;
}
.Products-Items-Cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 100vw;
  overflow: scroll;
  gap: 1rem;
}
.Products-Items-Cards::-webkit-scrollbar {
  display: none;
}
.Products-Area:nth-child(2n + 0) {
  background-color: #f5f2f1;
}

.Smartphone-Offers-Area {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.Items-Cards {
  width: 33.33%;
  margin: 0 10px;
  height: 708px;
  overflow: hidden;
  display: flex;
  background-color: #f4f4f4;
  border-radius: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Card-Item-Image {
  width: 100%;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s,
    -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}
.Items-Cards:hover > .Card-Item-Image {
  transform: scale(1.05);
}
.Product-Name {
  margin-top: 155px;
  font-size: 24px;
}
.Product-Description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}

[class*="Products_Items-"] {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.Product-Image-Box {
  margin-top: 50px;
  width: 80vw;
  border-radius: 20px;
  background-color: #c5ddb9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Products_Product {
  width: 45%;
  padding: 20px 0;
}
.Products_Product-Title {
  width: 100%;
  margin-bottom: 8px;
  font-family: "SamsungSharpSans", arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}
.Products_Product-Description {
  width: 100%;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}
.Products_BuyNow {
  background-color: black;
  color: white;
  font-size: 3.88888889vw;
  line-height: 5.27777778vw;
  padding: 2.77777778vw 6.66666667vw 3.05555556vw 6.66666667vw;
  border-radius: 5.55555556vw;
  font-weight: 700;
  margin-bottom: 3.05555556vw;
}
.Products_LearnMore {
  margin-top: 2.22222222vw;
  color: #000 !important;
  padding: 2.77777778vw 0vw 0vw 0vw;
  margin-bottom: 3.05555556vw;
  font-size: 3.88888889vw;
  line-height: 5.27777778vw;
  border-bottom: 3px solid #000;
  width: auto;
  transition: all 200ms cubic-bezier(0.33, 0, 0.3, 1);
  white-space: nowrap;
}
.Products_LearnMore:hover {
  transition: all 500ms cubic-bezier(0.33, 0, 0.3, 1);
  width: 0%;
}

.Products_Items-Galaxy-Buds2 {
  display: none;
}
#Second-Nav-Two:checked + .Products_Items-Galazy-Z-Fold3-5G {
  display: none !important;
}
.Products_Items-Certified-Re-Newed {
  display: none;
}
.Products_Items-Galaxy-Tab-S7-FE {
  display: none;
}
.Products_Items-Samsung-Odyssey-Neo-G8 {
  display: none;
}

/* Mobile view */
@media (min-width: 270px) and (max-width: 533px) {
  body {
    background-color: white;
  }
  .User-Profile {
    display: none;
  }

  .NavBar {
    width: 100%;
    height: 56px;
  }
  .Inner-Bar {
    padding: 8px 16px;
    height: 56px;
  }

  .Inner-Bar > .Logo-Box {
    margin-top: 4.5px;
    margin-left: 5.5px;
  }

  .Nav-Items {
    display: none;
  }

  .Nav-Icons {
    gap: 15px;
    margin-right: 5px;
  }
  .Carousel-Area {
    height: 562.5px;
  }
  .Carousel-Swipe {
    display: none;
  }
  .NavBar_Carousel {
    margin: 25px auto;
    gap: 13px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 50px;
    padding: 0px 10px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .NavBar_Carousels {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .NavBar_Carousels:active {
    outline: 1px dotted black;
  }

  #activate-div:checked + .my-div {
    background-color: #000;
  }
  .Navigate-Carousel {
    z-index: 2;
    width: 8.33px;
    height: 8.33px;
    background-color: #757575;
    border-radius: 50%;
  }
  .Navigate-Carousel-Item {
    display: none;
  }
  .NavBar_Carousels:hover .Navigate-Carousel-Item {
    opacity: 1;
    transform: translateY(-10%);
  }
  .Navigate-Carousel.Play-Pause {
    margin-top: 5px;
    background-color: transparent;
    padding: 5px;
    width: max-content;
    height: min-content;
  }
  .fa-solid.fa-pause {
    font-size: 15px;
  }

  .Products-Text {
    margin-top: 8.88888889vw;
    font-size: 7.22222222vw;
    line-height: 1.33;
    text-align: center;
    max-width: 86.66666667vw;
    max-height: 20vw;
    font-size: 7.22222222vw;
  }
  .Products-Nav {
    margin-left: 27px;
    gap: 30px;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .Products-Items-Cards {
    margin: 0 auto;
  }

  .Smartphone-Offers-Area {
    flex-direction: column;
  }
  .Items-Cards {
    width: 86.66666667vw;
    height: 48.88888889vw;
    margin: 10px 0px;
    overflow: hidden;
    justify-content: space-around;
    flex-direction: row;
  }
  .Card-Item-Image {
    width: 40%;
  }
  .Product-Description-Area {
    display: flex;
    margin-left: 20px;
    flex: 1 1 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .Product-Name {
    margin: 0;
    max-width: 77.77777778vw;
    max-height: 15.83333333vw;
    font-size: 3.88888889vw;
  }
  .Product-Description {
    max-height: 7.77777778vw;
    font-size: 2.77777778vw;
    max-width: fit-content;
    margin: 0;
  }

  .Products_Product-Title {
    margin-bottom: 2.22222222vw;
    font-size: 8.33333333vw;
    line-height: 1.33;
  }
  .Products_Product-Description {
    margin-bottom: 2.22222222vw;
    font-size: 3.88888889vw;
  }
}
/* Medium View */
@media (min-width: 533px) and (max-width: 1280px) {
  body {
    background-color: green;
  }
  .Nav-Items {
    display: none;
  }
  .User-Profile {
    display: none;
  }

  .Products-Nav {
    gap: 25px;
  }
}
@media (min-width: 1280px) {
  body {
    background-color: white;
  }
  .Hamburbur {
    display: none;
  }
}

@media (min-width: 270px) and (max-width: 770px) {
  body {
    /* background-color: violet; */
  }
}
